@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');


* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

.header-container {
    display: block;
    margin: -10px;
    padding: 0.05px;
    background-color: #fffcf3;
}

.header-text {
  text-align: center;
  letter-spacing: 0.5em;
  font-style: italic;
  font-size: smaller;
}  

h1 {
    color: #525252;
    font-family: "Georgia", serif;
}

h2 {
    color: #525252;
    font-family: "Raleway", serif;
    font-size: 35px;
}

h3 {
    color: #525252;
    font-family: "Raleway", sans-serif;
    font-size-adjust: 10px;
}

p {
    color: #525252;
    font-family: 'Courier New', Courier, monospace;
}

.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.flex-container {
   display: flex;
   justify-content: space-between;
   padding-top: 25px;
}

.menu-toggle {
    text-justify: center;
    border-width: 0px;
    background-color: transparent;
    padding-top: 10px;
} 

.section-title {
    text-align: left;
    padding-left: 7%;
    padding-top: 3%;
    padding-bottom: 1%;
    font-weight: bold;
}

.book-display {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
    padding-left: 7%;
    padding-top: 20px;
    background: #f6a5b8;
    background-size: 100%;
}

.book-cover {
    flex-basis: auto;
    align-self: center;
    max-width: 55%;
}


.vote-section {
    font-family: Raleway, sans-serif;
    padding-left: 15%;
    font-size: larger;
    list-style-type: none;
    line-height: 2em;
}

